{% extends 'base.html.twig' %}

{% block body %}
	<h1>Bienvenue</h1>
	{#{% if  app.user %}
			
					{% else %}
						<div class="card border-secondary mb-3">
							<div class="card-body">
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. At ratione quos cumque velit, quo odit in voluptate! Esse repudiandae numquam itaque provident ipsam accusamus ipsum culpa error! Rerum, cumque perspiciatis!
																																																					
																																			    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero totam itaque expedita id, maxime laudantium unde dignissimos, reprehenderit ex aut nobis accusamus earum dolorem dolor? Nisi expedita ducimus optio maiores.
			
			
								{% endif %}
							</p>
						</div>
					</div>#}
{% endblock %}
