{% extends 'base.html.twig' %}

{% block title %}Liste des Nannies -

{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>


				<th scope="col">Name</th>
				<th scope="col">City</th>
				<th scope="col">Age</th>
			</tr>
		</thead>
		<tbody>
			{% for nanny in nannies %}


				<tr>

					<td>{{ nanny.getName()}}</td>
					<td>{{ nanny.getCity() }}</td>
					<td>{{ nanny.getAge() }}
						ans</td>
				</tr>


			{% endfor %}
		</tbody>
	</table>


{% endblock %}
