{% block body %}
	{% if  app.user %}

		{% else %}
			<div class="card border-secondary mb-3">
				<div class="card-body">
					<h4 class="card-title">Recherche</h4>
					<p class="card-text">
						<form class="d-flex">
							<input class="form-control me-sm-2" type="text" placeholder="je recherche une Nanny">
							<input class="form-control me-sm-2" type="text" placeholder="Votre Adresse">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
						{% endif %}
					</p>
				</form>
			</p>
		</p>
	</div>
</div>{% endblock %}
