{#<section class="contact-section py-5 bg-dark text-white">
	<div class="container text-center">
		<h4 class="display-10 font-weight-light mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat velit dignissimos recusandae aut neque eaque et cumque, ut inventore, nam optio explicabo. Porro libero expedita accusamus consectetur, dicta qui ratione?</h4>
		<form class="form.inline d-flex justify-content-center">
			<div class="input-group">
				<input type="text" name="name" id="name" class="form-control" placeholder="votre email...">
				<div class="input-group-append">
					<button class="btn btn-primary">Nous Rejoindre</button>

				</div>
			</div>
		</form>

	</div>
</section>#}
